[defaults]
# Use local hosts file in folder 
inventory =./hosts

# Don't worry about RSA Fingerprints 
host_key_checking = False

# Do not create .retry files on job failure 
retry_files_enabled = False 

# Do not gather facts
gathering = explicit 

# Change Python Interpreter for Ansible 2.8 onwards
interpreter_python = /usr/bin/python3

# Forks to 1 - Only one device at a time (Default is 5)
forks = 3



